apiVersion: v2
name: dataflow
description: OpenCSG dataflow is a one-stop data processing platform designed to leverage large model technology
  and advanced algorithms to optimize the entire data processing lifecycle, enhancing efficiency and precision,
  while addressing enterprise challenges in data management such as inefficiency, adaptability gaps, and security
  and compliance issues.
home: https://opencsg.com
icon: https://raw.githubusercontent.com/OpenCSGs/csghub-charts/main/icons/icon.png
sources:
  - https://github.com/OpenCSGs/csghub-charts

# A chart can be either an 'application' or a 'library' chart.
#
# Application charts are a collection of templates that can be packaged into versioned archives
# to be deployed.
#
# Library charts provide useful utilities or functions for the chart developer. They're included as
# a dependency of application charts to inject those utilities and functions into the rendering
# pipeline. Library charts do not define any templates and therefore cannot be deployed.
type: application

# This is the chart version. This version number should be incremented each time you make changes
# to the chart and its templates, including the app version.
# Versions are expected to follow Semantic Versioning (https://semver.org/)
version: 1.15.0

# This is the version number of the application being deployed. This version number should be
# incremented each time you make changes to the application. Versions are not expected to
# follow Semantic Versioning. They should reflect the version the application is using.
# It is recommended to use it with quotes.
appVersion: v1.15.0

# Defined dependencies for subChart
dependencies:
  - name: common
    version: 0.1.6
    repository: https://charts.opencsg.com/repository/csghub
  - name: ingress-nginx
    version: 4.14.1
    repository: file://charts/ingress-nginx
    condition: ingress-nginx.enabled
  - name: reloader
    version: 2.2.7
    repository: file://charts/reloader
    condition: reloader.enabled
  - name: prometheus
    version: 27.37.0
    repository: file://charts/prometheus
    condition: prometheus.enabled
