{{- /*
Copyright OpenCSG, Inc. All Rights Reserved.
SPDX-License-Identifier: APACHE-2.0
*/ -}}

{{- $service := include "common.service" (dict "ctx" . "service" "loki") | fromYaml }}
{{- $serviceName := include "common.names.custom" (list . $service.name) }}
{{- if $service.gateway.enabled }}
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: {{ $serviceName }}
  namespace: {{ .Release.Namespace }}
  labels:
    app.kubernetes.io/service: {{ $service.name }}
    {{- if $service.labels }}
      {{- toYaml $service.labels | nindent 4 }}
    {{- else }}
      {{- include "common.labels" . | nindent 4 }}
    {{- end }}
spec:
  parentRefs:
    - name: listeners
      {{- if .Values.global.gateway.tls.enabled }}
      sectionName: https
      {{- else }}
      sectionName: http
      {{- end }}
  hostnames:
    - {{ include "common.domain.loki" . }}
  rules:
    - matches:
        - path:
            type: PathPrefix
            value: /
      backendRefs:
        - name: {{ $serviceName }}
          port: {{ dig "service" "port" 3100 $service }}
      timeouts:
        request: 5m
{{- end }}
