{{- /*
Copyright OpenCSG, Inc. All Rights Reserved.
SPDX-License-Identifier: APACHE-2.0
*/ -}}

{{- $service := include "common.service" . | fromYaml }}
{{- if not .Values.global.chartContext.isBuiltIn }}
{{- $serviceName := include "common.names.custom" (list . $service.name) }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ $serviceName }}
  namespace: {{ .Release.Namespace }}
  labels:
    app.kubernetes.io/service: {{ $service.name }}
    {{- include "common.labels" . | nindent 4 }}
data:
  ## Runner Configuration for Server
  STARHUB_SERVER_API_TOKEN: {{ $service.hubAPIToken | quote }}

  ## Runner Configuration
  STARHUB_SERVER_RUNNER_WEBHOOK_ENDPOINT: {{ $service.externalUrl | quote }}
  STARHUB_SERVER_RUNNER_PUBLIC_DOMAIN: {{ include "common.endpoint.runner" . | quote }}
  STARHUB_SERVER_LOGCOLLECTOR_LOKI_URL: {{ $service.logcollector.loki.address | quote }}
  STARHUB_SERVER_RUNNER_WATCH_CONFIGMAP_NAME: {{ $serviceName | quote }}

  ## Runner Configuration for Space
  STARHUB_SERVER_CLUSTER_SPACES_NAMESPACE: {{ include "namespace.spaces" . | quote }}
  STARHUB_SERVER_CLUSTER_RUNNER_NAMESPACE: {{ .Release.Namespace | quote }}
  STARHUB_SERVER_RUNNER_WATCH_CONFIGMAP_INTERVAL_IN_SEC: {{ $service.interval | default "60" | quote }}
  STARHUB_SERVER_CLUSTER_REGION: {{ $service.region | default "region-0" | quote }}

  ## Runner Configuration for Root Domain
  {{- $endpoint := include "common.endpoint.public" . | trimPrefix "http://" | trimPrefix "https://" }}
  STARHUB_SERVER_PUBLIC_ROOT_DOMAIN: {{ ternary $endpoint "" $service.usePublicDomain | quote }}
  #### Maybe not used, Domain app.internal is only a Placeholder
  STARHUB_SERVER_INTERNAL_ROOT_DOMAIN: {{ printf "%s.app.internal" (include "namespace.spaces" .) | quote }}

  ## Runner Configuration for Kaniko
  STARHUB_SERVER_DOCKER_REG_BASE: {{ printf "%s/%s/" $service.registry.registry $service.registry.repository | quote }}
  STARHUB_SERVER_DOCKER_IMAGE_PULL_SECRET: {{ include "common.names.custom" (list . "docker-credential") | quote }}
  ## Runner Configuration for PyPI Source
  STARHUB_SERVER_SPACE_PYPI_INDEX_URL: {{ $service.pipIndexUrl | quote }}
  ## Runner Configuration for ImageBuilder
  STARHUB_SERVER_RUNNER_IMAGE_BUILDER_GIT_IMAGE: "{{ or .Values.global.image.registry "docker.io" }}/opencsghq/git:2.36.2"
  STARHUB_SERVER_RUNNER_IMAGE_BUILDER_KANIKO_IMAGE: "{{ or .Values.global.image.registry "docker.io" }}/opencsghq/kaniko-executor:v1.24.0"
  STARHUB_SERVER_RUNNER_IMAGE_BUILDER_JOB_TTL: "300"
  STARHUB_SERVER_RUNNER_IMAGE_BUILDER_STATUS_TTL: "300"
  STARHUB_SERVER_RUNNER_IMAGE_BUILDER_KANIKO_ARGS: {{ include "runner.kaniko.args" (dict "service" .Values "global" .) | quote }}

  ## Runner Configuration for Argo
  STARHUB_SERVER_ARGO_SERVICE_ACCOUNT: "executor"
  {{- $typeLabel := $service.gpuModelLabel.typeLabel }}
  {{- $capacityLabel := $service.gpuModelLabel.capacityLabel }}
  STARHUB_SERVER_GPU_MODEL_LABEL: '[{"type_label": {{ $typeLabel | quote }}, "capacity_label": {{ $capacityLabel | quote }}}]'
  STARHUB_SERVER_MODEL_DEPLOY_TIMEOUT_IN_MINUTES: {{ $service.model.deployTimeout | default 60 | quote }}
  STARHUB_SERVER_MODEL_DOWNLOAD_ENDPOINT: {{ $service.externalUrl | quote }}
  {{- $registry := or $service.model.registry .Values.global.image.registry "docker.io" }}
  STARHUB_SERVER_MODEL_DOCKER_REG_BASE: {{ $registry | quote }}
  STARHUB_SERVER_CLUSTER_ID: {{ $service.originClusterID }}

  ## Runner Configuration for S3
  STARHUB_SERVER_S3_ACCESS_KEY_ID: {{ $service.objectStore.accessKey | quote }}
  STARHUB_SERVER_S3_ACCESS_KEY_SECRET: {{ $service.objectStore.secretKey | quote }}
  STARHUB_SERVER_S3_ENDPOINT: {{ $service.objectStore.endpoint | quote }}
  STARHUB_SERVER_S3_BUCKET: {{ $service.objectStore.bucket | quote }}
  STARHUB_SERVER_S3_REGION: {{ $service.objectStore.region | quote }}
  STARHUB_SERVER_S3_ENABLE_SSL: {{ $service.objectStore.secure | quote }}
  STARHUB_SERVER_S3_BUCKET_LOOKUP: {{ ternary "path" "auto" (eq $service.objectStore.pathStyle "true") | quote }}

  ## Runner Configuration for Tracing logging
  {{- if $service.tempo.address }}
  OPENCSG_TRACING_OTLP_ENDPOINT: {{ $service.tempo.address | quote }}
  OPENCSG_TRACING_OTLP_LOGGING: "true"
  {{- else }}
  OPENCSG_TRACING_OTLP_LOGGING: "false"
  {{- end }}

  ## Runner Configuration for kourier network
  {{- if $service.applicationEndpoint }}
  STARHUB_SERVER_RUNNER_APPLICATION_ENDPOINT: {{ $service.applicationEndpoint | quote }}
  {{- else }}
  STARHUB_SERVER_RUNNER_APPLICATION_ENDPOINT: "auto"
  {{- end }}

  ## Runner Configuration for LWS
  STARHUB_SERVER_RUNNER_NETWORK_INTERFACE: {{ $service.networkInterface | quote }}

  ## Runner Configuration for Spaces
  STARHUB_SERVER_RUNNER_STORAGE_CLASS: {{ $service.storageClassName | quote }}
{{- end }}
