{{- /*
Copyright OpenCSG, Inc. All Rights Reserved.
SPDX-License-Identifier: APACHE-2.0
*/ -}}

{{- $service := include "common.service" (dict "ctx" . "service" "nats") | fromYaml }}
{{- $serviceName := include "common.names.custom" (list . $service.name) }}
{{- $existingSecret := lookup "v1" "Secret" .Release.Namespace $serviceName }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ $serviceName }}
  namespace: {{ .Release.Namespace }}
  labels:
    app.kubernetes.io/service: {{ $service.name }}
    {{- include "common.labels" . | nindent 4 }}
  annotations:
    helm.sh/resource-policy: keep
type: Opaque
data:
  {{- $defaultUser := "natsadmin" | b64enc }}
  {{- $defaultPass := include "common.randomPassword" $service.name | b64enc }}
  {{- $secretUser := "" }}
  {{- $secretPass := "" }}
  {{- with and $existingSecret $existingSecret.data }}
    {{- $secretUser = index $existingSecret.data "NATS_USERNAME" }}
    {{- $secretPass = index $existingSecret.data "NATS_PASSWORD" }}
  {{- end }}
  NATS_USERNAME: {{ $secretUser | default $defaultUser | quote }}
  NATS_PASSWORD: {{ $secretPass | default $defaultPass | quote }}
