{{- /*
Copyright OpenCSG, Inc. All Rights Reserved.
SPDX-License-Identifier: APACHE-2.0
*/ -}}

{{- $service := include "common.service" (dict "ctx" . "service" "portal") | fromYaml }}
{{- $serviceName := include "common.names.custom" (list . $service.name) }}
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: {{ $serviceName }}
  namespace: {{ .Release.Namespace }}
  labels:
    app.kubernetes.io/service: {{ $service.name }}
    {{- if $service.labels }}
      {{- toYaml $service.labels | nindent 4 }}
    {{- else }}
      {{- include "common.labels" . | nindent 4 }}
    {{- end }}
spec:
  parentRefs:
    - name: listeners
      {{- if .Values.global.gateway.tls.enabled }}
      sectionName: https
      {{- else }}
      sectionName: http
      {{- end }}
  hostnames:
    - {{ include "common.domain.csghub" . }}
  rules:
    - matches:
        - path:
            type: PathPrefix
            value: /
      backendRefs:
        - name: {{ $serviceName }}
          port: {{ dig "service" "port" 8090 $service }}
      timeouts:
        request: 15s
    {{- $serverSvc := include "common.service" (dict "ctx" . "service" "server") | fromYaml }}
    {{- $serverSvcName := include "common.names.custom" (list . $serverSvc.name) }}
    - matches:
        - path:
            type: PathPrefix
            value: /api
        - path:
            type: RegularExpression
            value: ^/(hf|csg|ms)(/.*)?$
      filters:
        - type: CORS
          cors:
            allowOrigins:
              - {{ include "common.endpoint.casdoor" . | quote }}
            allowCredentials: true
      backendRefs:
        - name: {{ $serverSvcName }}
          port: {{ dig "service" "port" 8080 $serverSvc }}
      timeouts:
        request: 60s
    - matches:
        - path:
            type: RegularExpression
            value: /.*\.git(/.*)?$
      backendRefs:
        - name: {{ $serverSvcName }}
          port: {{ dig "service" "port" 8080 $serverSvc }}
      timeouts:
        request: 15m
    {{- $xnetSvc := include "common.service" (dict "ctx" . "service" "xnet") | fromYaml }}
    {{- $xnetSvcName := include "common.names.custom" (list . $xnetSvc.name) }}
    - matches:
        - path:
            type: PathPrefix
            value: /xnet
      filters:
        - type: URLRewrite
          urlRewrite:
            path:
              type: ReplacePrefixMatch
              replacePrefixMatch: /
      backendRefs:
        - name: {{ $xnetSvcName }}
          port: {{ dig "service" "port" 8097 $xnetSvc }}
      timeouts:
        request: 15m
    {{- $registrySvc := include "common.service" (dict "ctx" . "service" "registry") | fromYaml }}
    {{- $registrySvcName := include "common.names.custom" (list . $registrySvc.name) }}
    {{- if .Values.global.registry.enabled }}
    - matches:
        - path:
            type: PathPrefix
            value: /v2
      backendRefs:
        - name: {{ $registrySvcName }}
          port: {{ dig "service" "port" "5000" $registrySvc }}
      timeouts:
        backendRequest: 30m
    {{- end }}
    {{- if or (and $service.docs.host $service.docs.port) $service.docs.domain }}
    - matches:
        - path:
            type: PathPrefix
            value: /docs
      filters:
        - type: URLRewrite
          urlRewrite:
            path:
              type: ReplacePrefixMatch
              replacePrefixMatch: /
      backendRefs:
        - name: {{ include "common.names.custom" (list . "docs") }}
          port: {{ $service.docs.port }}
      timeouts:
        request: 10s
    {{- end }}
    {{- if .Values.dataflow.enabled }}
    {{- $dataflowSvc := include "common.service" (dict "ctx" . "service" "dataflow") | fromYaml }}
    {{- $labelStudioSvcName := include "common.names.custom" (list . "label-studio") }}
    - matches:
        - path:
            type: PathPrefix
            value: /-/label-studio
      filters:
        - type: URLRewrite
          urlRewrite:
            path:
              type: ReplacePrefixMatch
              replacePrefixMatch: /
      backendRefs:
        - name: {{ $labelStudioSvcName }}
          port: {{ dig "service" "port" "8002" $dataflowSvc.labelStudio }}
      timeouts:
        request: 5m
    {{- end }}
    {{- $temporalSvc := include "common.service" (dict "ctx" . "service" "temporal") | fromYaml }}
    {{- $temporalSvcName := include "common.names.custom" (list . $temporalSvc.name) }}
    {{- if $temporalSvc.console.enabled }}
    - matches:
        - path:
            type: PathPrefix
            value: /-/temporal
      backendRefs:
        - name: {{ $temporalSvcName }}
          port: {{ dig "console" "service" "port" "8080" $temporalSvc }}
      timeouts:
        request: 60s
    {{- end }}
    {{- $runnerSvc := include "common.service" (dict "ctx" . "service" "runner") | fromYaml }}
    {{- $rproxySvc := include "common.service" (dict "ctx" . "service" "rproxy") | fromYaml }}
    {{- $rproxySvcName := include "common.names.custom" (list . $rproxySvc.name) }}
    {{- if not $runnerSvc.usePublicDomain }}
    - matches:
        - path:
            type: PathPrefix
            value: /endpoint/
      backendRefs:
        - name: {{ $rproxySvcName }}
          port: {{ dig "service" "port" 8083 $rproxySvc }}
      timeouts:
        request: 15m
    {{- end }}
    {{- $aiGatewaySvc := include "common.service" (dict "ctx" . "service" "aigateway") | fromYaml }}
    {{- $aiGatewaySvcName := include "common.names.custom" (list . $aiGatewaySvc.name) }}
    - matches:
        - path:
            type: PathPrefix
            value: /aigateway
      filters:
        - type: URLRewrite
          urlRewrite:
            path:
              type: ReplacePrefixMatch
              replacePrefixMatch: /
      backendRefs:
        - name: {{ $aiGatewaySvcName }}
          port: {{ dig "service" "port" "8094" $aiGatewaySvc.aigateway }}
      timeouts:
        request: 5m
