{{- /*
Copyright OpenCSG, Inc. All Rights Reserved.
SPDX-License-Identifier: APACHE-2.0
*/ -}}

{{- $service := include "common.service" (dict "ctx" . "service" "labelStudio") | fromYaml }}
{{- $serviceName := include "common.names.custom" (list . $service.name) }}
{{- $gatewayConfig := include "common.gateway.config" (dict "ctx" . "service" $service) | fromYaml }}
{{- if and $gatewayConfig.enabled (not .Values.global.chartContext.isBuiltIn) }}
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: {{ $serviceName }}
  namespace: {{ .Release.Namespace }}
  labels:
    app.kubernetes.io/service: {{ $service.name }}
    {{- if $service.labels }}
      {{- toYaml $service.labels | nindent 4 }}
    {{- else }}
      {{- include "common.labels" . | nindent 4 }}
    {{- end }}
spec:
  parentRefs:
    - name: listeners
      {{- if .Values.global.gateway.tls.enabled }}
      sectionName: https
      {{- else }}
      sectionName: http
      {{- end }}
  hostnames:
    - {{ include "common.domain.labelstudio" . }}
  rules:
    - matches:
        - path:
            type: PathPrefix
            value: /
      filters:
        - type: CORS
          cors:
            allowOrigins:
              {{- if .Values.global.chartContext.isBuiltIn }}
              - {{ include "common.endpoint.csghub" . | quote }}
              {{- else }}
              - {{ .Values.externalUrl | quote }}
              {{- end }}
            allowCredentials: true
      backendRefs:
        - name: {{ $serviceName }}
          port: {{ dig "service" "port" 8002 $service }}
  {{- end }}
