apiVersion: v2
name: csghub
description: CSGHub is an open-source platform designed for managing Large Language Models (LLM) assets, offering an
  efficient way to handle the entire LLM and their assets such as datasets, spaces and codes etc.
  It allows users to upload, download, store, verify, and distribute LLM assets like DeepSeek,Llama etc.via a web interface,
  git command line, a natural language Chatbot, or CSGHub SDK.
home: https://opencsg.com
icon: https://raw.githubusercontent.com/OpenCSGs/csghub-charts/main/icons/icon.png
sources:
  - https://github.com/OpenCSGs/csghub-charts

# A chart can be either an 'application' or a 'library' chart.
#
# Application charts are a collection of templates that can be packaged into versioned archives
# to be deployed.
#
# Library charts provide useful utilities or functions for the chart developer. They're included as
# a dependency of application charts to inject those utilities and functions into the rendering
# pipeline. Library charts do not define any templates and therefore cannot be deployed.
type: application

# This is the chart version. This version number should be incremented each time you make changes
# to the chart and its templates, including the app version.
# Versions are expected to follow Semantic Versioning (https://semver.org/)
version: 1.15.1

# This is the version number of the application being deployed. This version number should be
# incremented each time you make changes to the application. Versions are not expected to
# follow Semantic Versioning. They should reflect the version the application is using.
# It is recommended to use it with quotes.
appVersion: v1.15.1

# Defined dependencies for subChart
dependencies:
  - name: common
    version: 0.1.6
    repository: https://charts.opencsg.com/csghub
  - name: reloader
    version: 2.2.7
    repository: file://charts/reloader
    condition: reloader.enabled
  - name: ingress-nginx
    version: 4.14.1
    repository: file://charts/ingress-nginx
    condition: ingress-nginx.enabled
  - name: loki
    version: 6.29.0
    repository: file://charts/loki
    condition: loki.enabled
  - name: tempo
    version: 1.23.3
    repository: file://charts/tempo
    condition: tempo.enabled
  - name: prometheus
    version: 28.6.0
    repository: file://charts/prometheus
    condition: prometheus.enabled
  - name: runner
    version: 1.15.1
    repository: https://charts.opencsg.com/csghub
    condition: runner.enabled
  - name: dataflow
    version: 1.15.1
    repository: https://charts.opencsg.com/csghub
    condition: dataflow.enabled
  - name: csgship
    version: 0.4.0
    repository: https://charts.opencsg.com/csghub
    condition: csgship.enabled
