{{- /*
Copyright OpenCSG, Inc. All Rights Reserved.
SPDX-License-Identifier: APACHE-2.0
*/ -}}

{{- $service := include "common.service" (dict "ctx" . "service" "gitlabShell") | fromYaml }}
{{- if $service.rbac.create }}
{{- $serviceName := include "common.names.custom" (list . $service.name) }}
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ $serviceName }}
  namespace: {{ .Release.Namespace }}
  labels:
    app.kubernetes.io/service: {{ $service.name }}
    {{- include "common.labels" . | nindent 4 }}
  annotations:
    helm.sh/hook: pre-install, pre-upgrade, post-delete
    helm.sh/hook-weight: "0"
---
apiVersion: {{ include "common.capabilities.rbac.apiVersion" . }}
kind: Role
metadata:
  name: {{ $serviceName }}
  namespace: {{ .Release.Namespace }}
  labels:
    app.kubernetes.io/service: {{ $service.name }}
    {{- include "common.labels" . | nindent 4 }}
  annotations:
    helm.sh/hook: pre-install, pre-upgrade, post-delete
    helm.sh/hook-weight: "0"
rules:
  - apiGroups: [""]
    resources: ["secrets"]
    verbs: ["get", "patch", "create"]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: {{ $serviceName }}
  namespace: {{ .Release.Namespace }}
  labels:
    app.kubernetes.io/service: {{ $service.name }}
    {{- include "common.labels" . | nindent 4 }}
  annotations:
    helm.sh/hook: pre-install, pre-upgrade, post-delete
    helm.sh/hook-weight: "0"
subjects:
  - kind: ServiceAccount
    name: {{ $serviceName }}
    namespace: {{ .Release.Namespace }}
roleRef:
  kind: Role
  name: {{ $serviceName }}
  apiGroup: rbac.authorization.k8s.io
{{- end }}
